body {
    overflow-y: auto;
}
#gifImage.paused {
    animation-play-state: paused;
  }
  .dropdown-menu1 {
    position: absolute;
    width: 200px;
    left: 1300px;
    top: 60px; /* Adjust according to your navbar height */
    right: 10px; /* Adjust according to your layout */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dropdown-menu1 button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.dropdown-menu1 button:hover {
    background-color: #f1f1f1;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: rgb(44, 62, 80);
    color: rgb(243, 156, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .sidebar-header {
    color: rgb(243, 156, 18);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .action-button {
    background: none;
    border: none;
    color: rgb(243, 156, 18);
    text-align: left;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background: rgb(243, 156, 18);
    color: rgb(44, 62, 80);
  }
  
  .profile-button {
    background: none;
    border: none;
    color: rgb(243, 156, 18);
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  